swagger: '2.0'
info:
  title: Neural Network for Image Classification
  description: |-
    This is a sample server that uses the CIFAR-10 image recognition dataset to train a neural network for image classification. You can learn more about the dataset at [CIFAR-10 dataset](https://www.cs.toronto.edu/~kriz/cifar.html).
  version: '1.0.0'
host: 'api.group16.com'
tags:
  - name: neuralnet
    description: ''
basePath: '/cifar-10'
schemes:
  - https
paths:
  /reset:
    delete:
      tags:
        - neuralnet
      summary: Resets the model to clean state
      description: 'Resets the neural network to clean state'
      produces:
        - application/json
      operationId: resetNet
      responses:
        '200':
          description: 'model deleted'
          schema:
            $ref: '#/components/schemas/Reset'
        '409':
          $ref: '#/components/responses/BadRequest'
  /training:
    put:
      tags:
        - neuralnet
      summary: Trains the network
      description: 'Trains the neural network'
      produces:
        - application/json
      operationId: trainNet
      responses:
        '200':
          description: 'Trained submited'
          schema:
            $ref: '#/components/schemas/Train'
        '409':
          $ref: '#/components/responses/BadRequest'
  /classification:
    post:
      tags:
        - neuralnet
      summary: Uploads an image and receives its classification
      description: ''
      operationId: classImg
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: formData
          name: image
          type: file
          required: true
          description: 'The file to upload'
      responses:
        '200':
          description: >-
            Classified the image successfully!
            
            Returned the three most probable classes'
          schema:
            $ref: '#/components/schemas/Classes'
        '409':
          $ref: '#/components/responses/BadRequest'
  /test:
    put:
      tags:
        - neuralnet
      summary: Tests and scores the network
      description: ''
      operationId: testNet
      produces:
        - application/json
      responses:
        '200':
          description: Tested the network successfully!
          schema:
            $ref: '#/components/schemas/TestResult'
        '409':
          $ref: '#/components/responses/BadRequest'
          
components:
  schemas:
    Classes:
      type: object
      properties:
        first:
          type: string
    Train:
      type: object
      properties:
        message:
          type: string
    Reset:
      type: object
      properties:
        message:
          type: string
    TestResult:
      type: object
      properties:
        accuracy:
          type: number
          format: double
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
  # requestBodies:
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ApiResponse'
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://group16.cloudcomputing.fcul.com/oauth/authorize'
          scopes:
            'write:nets': modify nets in your account
            'read:nets': read your ents
    api_key:
      type: apiKey
      name: api_key
      in: header