swagger: '2.0'
info:
  title: Neural Network for Image Classification
  description: |-
    This is a sample server that uses the CIFAR-10 image recognition dataset to train a neural network for image classification. You can learn more about the dataset at [CIFAR-10 dataset](https://www.cs.toronto.edu/~kriz/cifar.html).
  version: '1.0.0'
host: 'api-group16.endpoints.grupo16.cloud.goog'
x-google-endpoints:
- name: 'api-group16.endpoints.grupo16.cloud.goog'
  target: "34.89.141.36"
tags:
  - name: neuralnet
    description: ''
basePath: '/cifar-10'
schemes:
  - https
paths:
  /reset:
    delete:
      tags:
        - neuralnet
      summary: Resets the model to clean state
      description: 'Resets the neural network to clean state'
      produces:
        - application/json
      operationId: resetNet
      responses:
        '200':
          description: 'model deleted'
          schema:
            $ref: '#/definitions/Reset'
        '409':
          $ref: '#/responses/BadRequest'
  /training:
    put:
      tags:
        - neuralnet
      summary: Trains the network
      description: 'Trains the neural network'
      produces:
        - application/json
      operationId: trainNet
      responses:
        '200':
          description: 'Trained submited'
          schema:
            $ref: '#/definitions/Train'
        '409':
          $ref: '#/responses/BadRequest'
  /classify:
    post:
      tags:
        - neuralnet
      summary: Uploads an image and receives its classification
      description: ''
      operationId: classify
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: formData
          name: image
          type: string
          required: true
          description: 'The file to upload'
      responses:
        '200':
          description: 'Image Classification'
          schema:
            $ref: '#/definitions/Classes'
        '409':
          $ref: '#/responses/BadRequest'
  /test:
    put:
      tags:
        - neuralnet
      summary: Tests and scores the network
      description: ''
      operationId: testNet
      produces:
        - application/json
      responses:
        '200':
          description: Tested the network successfully!
          schema:
            $ref: '#/definitions/TestResult'
        '409':
          $ref: '#/responses/BadRequest'
          
definitions:
  Classes:
    type: object
    properties:
      Most probable:
        type: string
  Train:
    type: object
    properties:
      message:
        type: string
  Reset:
    type: object
    properties:
      message:
        type: string
  TestResult:
    type: object
    properties:
      accuracy:
        type: number
        format: double
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
    xml:
      name: '##default'
  # requestBodies:
responses:
  BadRequest:
    description: Bad Request
    schema:
      $ref: '#/definitions/ApiResponse'